# Ignore the Kernel Source Tree
linux-*/
linux/

# Ignore Disk Images
*.img
*.qcow2

# Ignore Build Artifacts
*.o
*.ko
*.cmd
modules.order
Module.symvers
configs/.config.old

# Ignore System temporary files
.DS_Store